@font-face{
    font-family: "Odin-Font";
    src: url("Norse-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

html{
    width: 100%;
    height: 99%;
}

body {
    display: flex;
    height: 100%;
}

.logo-half{
    background-repeat:no-repeat;
    background-size:100%;
    background-image:url(./images/halie-west-25xggax4bSA-unsplash.jpg);
    width:35%;
    display:flex;
    flex-direction: column;
}

.logo-banner{
    height:150px;
    width: 100%;
    position: relative;
    top: 20%;
}

#logo-banner-background{
    background-color: black;
    opacity: 0.3;
    height: 100%;
    width: 100%;
    position: absolute;
}

#logo-content{
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#logo-text{
    color:white;
    font-family: "Odin-Font";
    font-size: 10rem;
}

#odin-picture{
    height:95%;
}

.logo-footer{
    color: white;
    position:absolute;
    bottom:5px;
    align-self:center;
}

.logo-footer *{
    color: white;
}

.content-half{
    width:65%
}